# dotenv environment variable files
client/.env
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.env.local

server/.env

# Fresh build directory
client/_fresh/
*.pem
